# 06-02

- Transition Matrix only
- Euclidean Distance

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt 
import math
from ipynb.fs.full.Utils import createKDeplot, loadDataFrames, loadCoverGroups
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
cover = loadCoverGroups()
listCovers = cover[20]
originalSongId = listCovers[0]
coverSongId = listCovers[1]

In [3]:
cover

[[180849,
  6001027,
  1686718,
  5000013,
  5000001,
  5000007,
  5000008,
  5000023,
  5000017,
  5000019,
  5000020,
  5000018,
  5000011,
  5000012],
 [6001971, 6001984],
 [6002492, 6002491],
 [6000699, 6001165, 6000182],
 [6000104, 6000273],
 [6000768, 6000784],
 [6001931, 6001748],
 [6002043, 6002073],
 [6002244, 6000194],
 [6001209, 6000606],
 [6000352, 6001248],
 [6000549, 6001508, 6001242],
 [6001918, 6001997],
 [6001651, 6001900],
 [6000263, 6001570, 6002374],
 [6001822, 6001653],
 [6000763, 6000668],
 [6000764, 6000667],
 [6001543, 6001541],
 [6000762, 6000773],
 [6000771, 6000670],
 [6001747, 6001952],
 [6000548, 6002203],
 [6000172, 6002133],
 [6001762, 6001675],
 [6002147, 6002146],
 [6000767, 6000775],
 [6000766, 6000673],
 [6001506, 6000529],
 [6000397, 6000409],
 [6001914, 6002001],
 [6002482, 6002454],
 [6000765, 6000783],
 [6000761, 6000782],
 [6000814, 6000813],
 [6001224, 6000140]]

In [51]:
spotifyFeatures, transitionMatrices, df = loadDataFrames()

In [52]:
transitionMatrices

,0,1,2,3,4,5,6,7,8,9,...,1284,1286,1287,1288,1290,1291,1292,1293,1294,1295
id,,,,,,,,,,,,,,,,,,,,,
23,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
105,0.185185,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
118,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.044944,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
120,0.029412,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
292,0.013889,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.013889,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6002496,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002497,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002498,0.000000,0.015385,0.0,0.015385,0.0,0.015385,0.030769,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002499,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.071429,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.02381,0.0,0.0,0.0,0.02381,0.0,0.0
6002500,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0

In [53]:
transitionMatrices.sum(axis = 1).sum(axis=0)

5979.999999999996

## Applying eucledian distance

In [54]:
def euclidean_distance(x, y):   
    return np.sqrt(np.sum((x - y) ** 2))

In [55]:
originalSongVector = transitionMatrices.loc[[originalSongId]].iloc[0]

***Dropping the cover song***

In [56]:
ranking = []
for index in range(0, len(transitionMatrices)):
    ranking.append([transitionMatrices.index[index], euclidean_distance(transitionMatrices.iloc[index, :], originalSongVector)])

In [57]:
ranksDF = pd.DataFrame(ranking)

In [58]:
ranksDF = ranksDF.rename(columns={0: "id", 1: "rank"})

In [59]:
ranksDF

           id      rank
0          23  0.441215
1         105  0.428571
2         118  0.328506
3         120  0.472499
4         292  0.293549
...       ...       ...
5975  6002496  0.333303
5976  6002497  0.415895
5977  6002498  0.292004
5978  6002499  0.289151
5979  6002500  0.331215

[5980 rows x 2 columns]

In [60]:
ranksDF = ranksDF.sort_values(by="rank")

In [61]:
ranksDF.reset_index(drop=True, inplace=True)

In [62]:
ranksDF.head(10)

        id      rank
0  6000771  0.000000
1  6000670  0.123404
2  6000511  0.166318
3  6001014  0.168321
4   173491  0.171807
5  6000092  0.175612
6  6000973  0.175894
7  6001482  0.183595
8  1044392  0.186209
9  6002317  0.187246

In [63]:
ranksDF[ranksDF['id']==coverSongId]

        id      rank
1  6000670  0.123404

## Rank for original Song 156

In [64]:
ranksDF.loc[ranksDF.id.isin(listCovers)]

        id      rank
0  6000771  0.000000
1  6000670  0.123404