# 06-10-02

- KNN Clustering 
- Using Categories from KNN to get subset from information
- Continous Features(Transition Matrices, HighLevel Features)
    - MinMax Scaling
    - Remove Constant Features
    - Euclidean Distance
- Categorical Features
    - Hot Encoding
    - Jaccard

In [67]:
import pandas as pd
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt 
import math
from ipynb.fs.full.Utils import createKDeplot, loadDataFrames, dropFeaturesWithNoVariance, loadCoverGroups
import numpy as np
from sklearn.preprocessing import StandardScaler
from scipy import stats
from ipynb.fs.full.Pipeline import removeConstantFeatures, applyBoxCoxAllFeatures, centerAndScale, applyEuclideanDistance, getIndexAndVector, applyBoxCoxFeatures,applyJaccard, getEuclideanJaccardDf 
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [68]:
transitionMatrices = pd.read_csv('./data/unified/07-transitionsClustered.csv')
transitionMatrices = transitionMatrices[['id','category']]

In [69]:
cover = loadCoverGroups()
originalSongId = cover[0][0]
coverSongId = cover[0][2]
listCovers = cover[0]

In [70]:
coverSongId

1686718

In [71]:
df = pd.read_csv("./data/unified/05-allDataContinousCategoricalTransition.csv")
df = df.drop(columns=['Unnamed: 0', 'index'])

In [72]:
transitionMatrices

           id  category
0          23         1
1         105         0
2         118         2
3         120         1
4         292         2
...       ...       ...
5975  6002496         0
5976  6002497         1
5977  6002498         1
5978  6002499         1
5979  6002500         1

[5980 rows x 2 columns]

In [73]:
df = pd.merge(df,transitionMatrices, on='id')

In [74]:
categoryOriginalSong = df[df.id == originalSongId].category.values[0]
df = df[df.category == categoryOriginalSong]

In [75]:
df

,id,danceability,energy,speechiness,acousticness,liveness,valence,tempo,0,1,...,mood_6,mood_7,mood_8,mood_9,mood_10,mood_11,instrumentalness_cat_0,instrumentalness_cat_1,instrumentalness_cat_2,category
1,105,0.582,0.744,0.0336,0.000458,0.0405,0.674,133.344,0.185185,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
5,407,0.577,0.890,0.0345,0.000013,0.0954,0.643,132.397,0.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
9,469,0.664,0.787,0.0239,0.038000,0.1930,0.585,102.952,0.007634,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
10,588,0.726,0.537,0.1140,0.316000,0.0707,0.882,96.889,0.101351,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0
12,635,0.550,0.145,0.0332,0.913000,0.1180,0.138,103.918,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5954,6002477,0.700,0.710,0.0532,0.327000,0.1290,0.582,167.971,0.000000,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
5964,6002488,0.760,0.838,0.0510,0.390000,0.1660,0.863,159.938,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0
5967,6002491,0.665,0.515,0.0442,0.454000,0.3670,0.805,93.082,0.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0
5971,6002495,0.555,0.578,0.0277,0.113000,0.0747,0.333,83.382,0.000000,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
5972,6002496,0.509,0.537,0.0384,0.347000,0.0805,0.311,170.030,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0

In [76]:
df = df.drop(columns=['category'])

In [77]:
df

,id,danceability,energy,speechiness,acousticness,liveness,valence,tempo,0,1,...,mood_5,mood_6,mood_7,mood_8,mood_9,mood_10,mood_11,instrumentalness_cat_0,instrumentalness_cat_1,instrumentalness_cat_2
1,105,0.582,0.744,0.0336,0.000458,0.0405,0.674,133.344,0.185185,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5,407,0.577,0.890,0.0345,0.000013,0.0954,0.643,132.397,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,469,0.664,0.787,0.0239,0.038000,0.1930,0.585,102.952,0.007634,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,588,0.726,0.537,0.1140,0.316000,0.0707,0.882,96.889,0.101351,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
12,635,0.550,0.145,0.0332,0.913000,0.1180,0.138,103.918,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5954,6002477,0.700,0.710,0.0532,0.327000,0.1290,0.582,167.971,0.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5964,6002488,0.760,0.838,0.0510,0.390000,0.1660,0.863,159.938,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
5967,6002491,0.665,0.515,0.0442,0.454000,0.3670,0.805,93.082,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
5971,6002495,0.555,0.578,0.0277,0.113000,0.0747,0.333,83.382,0.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5972,6002496,0.509,0.537,0.0384,0.347000,0.0805,0.311,170.030,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [78]:
## Removing unamed and other unnecessary columns
df.reset_index(drop=True, inplace=True)
df = df.sort_values('id')
df.id = df.id.astype('int64')
# Saving idChords
ids = df.id
df = df.set_index('id')
df.reset_index(drop=True, inplace=True)

In [79]:
ids[ids == originalSongId]

296    180849
Name: id, dtype: int64

## Pipeline

In [102]:
dfEuclidean, dfJaccard = getEuclideanJaccardDf(df)

In [103]:
dfEuclidean

,0,1,10,100,1000,1001,1002,1003,1004,1005,...,997,998,999,acousticness,danceability,energy,liveness,speechiness,tempo,valence
0,0.185185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000458,0.582,0.744,0.0405,0.0336,133.344,0.674
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000013,0.577,0.890,0.0954,0.0345,132.397,0.643
2,0.007634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.038000,0.664,0.787,0.1930,0.0239,102.952,0.585
3,0.101351,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.316000,0.726,0.537,0.0707,0.1140,96.889,0.882
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.913000,0.550,0.145,0.1180,0.0332,103.918,0.138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2165,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.327000,0.700,0.710,0.1290,0.0532,167.971,0.582
2166,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.390000,0.760,0.838,0.1660,0.0510,159.938,0.863
2167,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.454000,0.665,0.515,0.3670,0.0442,93.082,0.805
2168,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.113000,0.555,0.578,0.0747,0.0277,83.382,0.333
2169,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.347000,0.509,0.537,0.0805,0.0384,170.030,0.311

In [82]:
dfJaccard

,key_0,key_1,key_2,key_3,key_4,key_5,key_6,key_7,key_8,key_9,...,mood_5,mood_6,mood_7,mood_8,mood_9,mood_10,mood_11,instrumentalness_cat_0,instrumentalness_cat_1,instrumentalness_cat_2
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2166,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2167,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2169,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [83]:
# dfEuclidean = applyBoxCoxFeatures(dfEuclidean, ['speechiness', 'acousticness', 'liveness', 'valence'])
dfEuclidean = dfEuclidean.copy()
dfEuclidean = removeConstantFeatures(dfEuclidean)
# dfEuclidean= applyBoxCoxFeatures(dfEuclidean, ['speechiness', 'acousticness', 'liveness', 'valence'])
# dfEuclidean= applyBoxCoxAllFeatures(dfEuclidean)
# dfEuclidean = centerAndScale(dfEuclidean)

In [84]:
scaler = MinMaxScaler()
scaler.fit(dfEuclidean)
dfEuclidean = pd.DataFrame(scaler.transform(dfEuclidean)).copy()

### Original Song & Cover Song

In [85]:
originalSongIndex,originalSongVector = getIndexAndVector(originalSongId, ids, dfEuclidean)
coverSongIndex,coverSongVector = getIndexAndVector(coverSongId, ids, dfEuclidean)

### Get Rankings Euclidean

In [86]:
ranksDFEuclidean  = applyEuclideanDistance(dfEuclidean, ids, originalSongVector)
ranksDFEuclidean

distance

           id      rank
0      180849  0.000000
1     1025154  0.748190
2     3504560  0.806144
3     2065851  0.819441
4     6001027  0.832018
...       ...       ...
2165  6000086  3.414834
2166  6002206  3.599300
2167  6000799  3.657154
2168  6000784  4.037399
2169  6000743  4.052360

[2170 rows x 2 columns]

In [87]:
ranksDFEuclidean[ranksDFEuclidean.id == originalSongId]

       id  rank
0  180849   0.0

In [88]:
ranksDFEuclidean[ranksDFEuclidean['id']==coverSongId]

         id      rank
17  1686718  0.935883

In [89]:
ranksDFEuclidean.loc[ranksDFEuclidean.id.isin(listCovers)]

           id      rank
0      180849  0.000000
4     6001027  0.832018
17    1686718  0.935883
18    5000017  0.936340
20    5000018  0.941502
22    5000019  0.952649
23    5000011  0.955776
24    5000013  0.958572
40    5000007  1.016285
53    5000001  1.039307
96    5000012  1.096750
1154  5000020  1.511921
1491  5000008  1.643443

### Get Rankings Jaccard

In [90]:
originalSongIndex,originalSongVector = getIndexAndVector(originalSongId, ids, dfJaccard)
coverSongIndex,coverSongVector = getIndexAndVector(coverSongId, ids, dfJaccard)

In [91]:
ranksDFJaccard  = applyJaccard(dfJaccard, ids, originalSongVector)

In [92]:
ranksDFJaccard

           id  rank
0      180849   0.0
1     6001027   0.0
2      450492   0.0
3      466649   0.0
4     1029726   0.0
...       ...   ...
2165   780945   1.0
2166   388558   1.0
2167   821402   1.0
2168  6001417   1.0
2169   698704   1.0

[2170 rows x 2 columns]

In [93]:
ranksDFJaccard[ranksDFJaccard['id']==coverSongId]

          id      rank
640  1686718  0.571429

In [94]:
ranksDFJaccard[ranksDFJaccard['id']==coverSongId]

          id      rank
640  1686718  0.571429

In [95]:
ranksDFJaccard.loc[ranksDFJaccard.id.isin(listCovers)]

           id      rank
0      180849  0.000000
1     6001027  0.000000
36    5000001  0.333333
37    5000017  0.333333
38    5000019  0.333333
40    5000020  0.333333
327   5000018  0.571429
330   5000013  0.571429
335   5000008  0.571429
640   1686718  0.571429
1052  5000012  0.750000
1053  5000007  0.750000
1061  5000011  0.750000

### Experiment to unify ranks

In [96]:
ranks = pd.merge(ranksDFJaccard,ranksDFEuclidean, on='id')

In [97]:
ranks['new_rank'] = ranks['rank_x'] + ranks['rank_y']

In [98]:
ranks = ranks.sort_values(by='new_rank')
ranks.reset_index(drop=True, inplace=True)

In [99]:
ranks.head(10)

        id    rank_x    rank_y  new_rank
0   180849  0.000000  0.000000  0.000000
1  6001027  0.000000  0.832018  0.832018
2  1029726  0.000000  1.057705  1.057705
3  3504560  0.333333  0.806144  1.139478
4  2065851  0.333333  0.819441  1.152775
5  6001258  0.000000  1.185950  1.185950
6  1186397  0.333333  0.873261  1.206594
7  1713294  0.333333  0.931531  1.264865
8  5000017  0.333333  0.936340  1.269673
9  5000019  0.333333  0.952649  1.285982

In [100]:
ranks[ranks['id']==coverSongId]

         id    rank_x    rank_y  new_rank
39  1686718  0.571429  0.935883  1.507312

In [101]:
ranks.loc[ranks.id.isin(listCovers)]

           id    rank_x    rank_y  new_rank
0      180849  0.000000  0.000000  0.000000
1     6001027  0.000000  0.832018  0.832018
8     5000017  0.333333  0.936340  1.269673
9     5000019  0.333333  0.952649  1.285982
16    5000001  0.333333  1.039307  1.372640
39    1686718  0.571429  0.935883  1.507312
41    5000018  0.571429  0.941502  1.512930
43    5000013  0.571429  0.958572  1.530000
119   5000011  0.750000  0.955776  1.705776
175   5000007  0.750000  1.016285  1.766285
264   5000020  0.333333  1.511921  1.845255
267   5000012  0.750000  1.096750  1.846750
1100  5000008  0.571429  1.643443  2.214871