# Using continous and categorical only from transition matrices the category was obtained to filter data by category, but transi

In [921]:
import pandas as pd
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt 
import math
from ipynb.fs.full.Utils import createKDeplot, loadDataFrames, dropFeaturesWithNoVariance, loadCoverGroups
import numpy as np
from sklearn.preprocessing import StandardScaler
from scipy import stats
import dask_ml.cluster
from ipynb.fs.full.Pipeline import removeConstantFeatures, applyBoxCoxAllFeatures, centerAndScale, applyEuclideanDistance, getIndexAndVector, applyBoxCoxFeatures,applyJaccard, getEuclideanJaccardDf 
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [922]:
covers = loadCoverGroups()
originalSongId = covers[0][0]
coverSongId = covers[0][2]

In [923]:
spotifyFeatures, transitionMatrices, df = loadDataFrames()

In [924]:
ids = transitionMatrices.index.tolist()

In [925]:
transitionMatrices['id'] = ids

In [926]:
df = transitionMatrices

In [927]:
df

,0,1,2,3,4,5,6,7,8,9,...,1286,1287,1288,1290,1291,1292,1293,1294,1295,id
id,,,,,,,,,,,,,,,,,,,,,
23,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,23
105,0.185185,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,105
118,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.044944,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,118
120,0.029412,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,120
292,0.013889,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.013889,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6002496,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,6002496
6002497,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,6002497
6002498,0.000000,0.015385,0.0,0.015385,0.0,0.015385,0.030769,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,6002498
6002499,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.071429,0.000000,0.0,0.0,...,0.0,0.0,0.02381,0.0,0.0,0.0,0.02381,0.0,0.0,6002499
6002500,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,6002500

In [928]:
## Removing unamed and other unnecessary columns
df.reset_index(drop=True, inplace=True)
df = df.sort_values('id')
df.id = df.id.astype('int64')
# Saving idChords
ids = df.id
df = df.set_index('id')
df.reset_index(drop=True, inplace=True)

In [929]:
originalSongIndex,originalSongVector = getIndexAndVector(originalSongId, ids, df)
coverSongIndex,coverSongVector = getIndexAndVector(coverSongId, ids, df)

In [930]:
df = df.copy()
df = removeConstantFeatures(df)
# dfEuclidean = applyBoxCoxAllFeatures(dfEuclidean)
#dfEuclidean = centerAndScale(dfEuclidean)

In [931]:
scaler = MinMaxScaler()
scaler.fit(df)
df = pd.DataFrame(scaler.transform(df)).copy()

In [932]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036
count,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,...,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000
mean,0.028882,0.002190,0.000790,0.000797,0.001207,0.006105,0.022190,0.006024,0.000738,0.001866,...,0.000480,0.000834,0.001752,0.001237,0.000387,0.000167,0.002667,0.000716,0.000167,0.000992
std,0.072392,0.023851,0.018939,0.016458,0.024314,0.037906,0.083196,0.037311,0.019278,0.024825,...,0.018682,0.019811,0.023745,0.023198,0.014235,0.012932,0.026839,0.020779,0.012932,0.022374
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.021205,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [933]:
ranksDFEuclidean  = applyEuclideanDistance(df, ids, originalSongVector)
ranksDFEuclidean

           id  rank
0          23   0.0
1     6000504   0.0
2     6000503   0.0
3     6000502   0.0
4     6000501   0.0
...       ...   ...
5975   997065   0.0
5976   996462   0.0
5977   996391   0.0
5978   998735   0.0
5979  6002500   0.0

[5980 rows x 2 columns]

In [934]:
ranksDFEuclidean.loc[ranksDFEuclidean.id.isin(covers[0])]

           id  rank
1482  5000023   0.0
1483  5000019   0.0
1484  5000018   0.0
1485  5000017   0.0
1486  5000013   0.0
1487  5000012   0.0
1488  5000011   0.0
1489  5000008   0.0
1490  5000007   0.0
1491  5000001   0.0
1492  5000020   0.0
2514  6001027   0.0
4285   180849   0.0
4929  1686718   0.0


### Using only 20% of the most similar songs in terms of chord progressions to recommend songs

In [935]:
percentage = 20
upperLimit = math.floor((len(ranksDFEuclidean) * percentage) / 100)

In [936]:
ids = ranksDFEuclidean.iloc[0:upperLimit,:].id

In [937]:
df = pd.read_csv("./data/unified/05-allDataContinousCategoricalTransition.csv")
df = df.drop(columns=['Unnamed: 0', 'index'])

In [938]:
df

,id,danceability,energy,speechiness,acousticness,liveness,valence,tempo,0,1,...,mood_5,mood_6,mood_7,mood_8,mood_9,mood_10,mood_11,instrumentalness_cat_0,instrumentalness_cat_1,instrumentalness_cat_2
0,23,0.494,0.756,0.0432,0.001400,0.1640,0.589,133.337,0.000000,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,105,0.582,0.744,0.0336,0.000458,0.0405,0.674,133.344,0.185185,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,118,0.614,0.755,0.0276,0.016200,0.0831,0.645,92.622,0.000000,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,120,0.319,0.807,0.0388,0.001040,0.1310,0.601,118.097,0.029412,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,292,0.496,0.527,0.0339,0.195000,0.1380,0.283,155.932,0.013889,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5972,6002496,0.509,0.537,0.0384,0.347000,0.0805,0.311,170.030,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5973,6002497,0.725,0.583,0.0427,0.300000,0.0665,0.762,79.984,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5974,6002498,0.399,0.787,0.0499,0.019700,0.0685,0.572,117.089,0.000000,0.015385,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5975,6002499,0.376,0.435,0.0264,0.513000,0.1380,0.304,80.002,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5976,6002500,0.734,0.663,0.3090,0.342000,0.6490,0.845,166.846,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [939]:
df = df[df['id'].isin(ids.tolist())]

In [940]:
df

,id,danceability,energy,speechiness,acousticness,liveness,valence,tempo,0,1,...,mood_5,mood_6,mood_7,mood_8,mood_9,mood_10,mood_11,instrumentalness_cat_0,instrumentalness_cat_1,instrumentalness_cat_2
0,23,0.494,0.756,0.0432,0.001400,0.164,0.589,133.337,0.000000,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2991,1780199,0.759,0.401,0.2590,0.860000,0.299,0.576,100.126,0.125926,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2992,1780636,0.655,0.485,0.0293,0.023700,0.194,0.545,117.920,0.000000,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2993,1781024,0.536,0.574,0.0254,0.750000,0.105,0.877,87.194,0.029412,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2994,1781092,0.315,0.452,0.0326,0.031500,0.686,0.112,138.909,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4476,6000992,0.632,0.734,0.0375,0.000128,0.337,0.645,116.337,0.000000,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4477,6000993,0.357,0.549,0.0698,0.000798,0.220,0.531,130.749,0.000000,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4478,6000994,0.312,0.812,0.0566,0.013700,0.960,0.184,134.414,0.058824,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4479,6000995,0.331,0.980,0.0438,0.000009,0.408,0.826,153.926,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4480,6000996,0.401,0.945,0.0812,0.000002,0.202,0.449,104.824,0.000000,0.016667,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [941]:
df.describe()

,id,danceability,energy,speechiness,acousticness,liveness,valence,tempo,0,1,...,mood_5,mood_6,mood_7,mood_8,mood_9,mood_10,mood_11,instrumentalness_cat_0,instrumentalness_cat_1,instrumentalness_cat_2
count,1.194000e+03,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,...,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.00000,1194.000000,1194.000000,1194.000000
mean,4.779515e+06,0.558173,0.600417,0.060034,0.322981,0.205486,0.474617,121.030617,0.013124,0.001151,...,0.027638,0.268844,0.153266,0.000838,0.030988,0.087940,0.11809,0.360134,0.259631,0.380235
std,1.815304e+06,0.151669,0.228227,0.052663,0.324285,0.201086,0.232073,29.572975,0.036777,0.009703,...,0.164003,0.443545,0.360395,0.028940,0.173359,0.283326,0.32285,0.480240,0.438616,0.485648
min,2.300000e+01,0.080600,0.003970,0.023200,0.000002,0.022600,0.036500,48.718000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,2.373419e+06,0.456250,0.428000,0.033300,0.026150,0.092825,0.289250,97.519000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,6.000398e+06,0.562000,0.613000,0.042050,0.196000,0.119000,0.461000,118.451500,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,6.000697e+06,0.661750,0.795000,0.062625,0.598750,0.241500,0.649750,139.932000,0.010178,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,1.000000,1.000000
max,6.000996e+06,0.956000,0.989000,0.463000,0.992000,0.991000,0.979000,207.970000,0.419118,0.188679,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000

In [942]:
## Removing unamed and other unnecessary columns
df.reset_index(drop=True, inplace=True)
df = df.sort_values('id')
df.id = df.id.astype('int64')
# Saving idChords
ids = df.id
df = df.set_index('id')
df.reset_index(drop=True, inplace=True)

In [943]:
df

,danceability,energy,speechiness,acousticness,liveness,valence,tempo,0,1,2,...,mood_5,mood_6,mood_7,mood_8,mood_9,mood_10,mood_11,instrumentalness_cat_0,instrumentalness_cat_1,instrumentalness_cat_2
0,0.494,0.756,0.0432,0.001400,0.164,0.589,133.337,0.000000,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.759,0.401,0.2590,0.860000,0.299,0.576,100.126,0.125926,0.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.655,0.485,0.0293,0.023700,0.194,0.545,117.920,0.000000,0.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.536,0.574,0.0254,0.750000,0.105,0.877,87.194,0.029412,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.315,0.452,0.0326,0.031500,0.686,0.112,138.909,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,0.632,0.734,0.0375,0.000128,0.337,0.645,116.337,0.000000,0.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1190,0.357,0.549,0.0698,0.000798,0.220,0.531,130.749,0.000000,0.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1191,0.312,0.812,0.0566,0.013700,0.960,0.184,134.414,0.058824,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1192,0.331,0.980,0.0438,0.000009,0.408,0.826,153.926,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1193,0.401,0.945,0.0812,0.000002,0.202,0.449,104.824,0.000000,0.016667,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Pipeline

In [944]:
dfEuclidean, dfJaccard = getEuclideanJaccardDf(df)

In [945]:
scaler = MinMaxScaler()
scaler.fit(dfEuclidean)
dfEuclidean = pd.DataFrame(scaler.transform(dfEuclidean)).copy()

In [946]:
dfEuclidean

,0,1,2,3,4,5,6,7,8,9,...,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043
0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.001409,0.472241,0.763459,0.146014,0.045475,0.531353,0.586207
1,0.300455,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.866935,0.774960,0.403064,0.285419,0.536153,0.322809,0.572414
2,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.023889,0.656157,0.488340,0.176993,0.013870,0.434544,0.539523
3,0.070175,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.756048,0.520219,0.578693,0.085089,0.005002,0.241605,0.891777
4,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.031752,0.267763,0.454839,0.685048,0.021373,0.566341,0.080106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000127,0.629883,0.741125,0.324659,0.032515,0.424604,0.645623
1190,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.533333,0.0,0.000802,0.315741,0.553313,0.203841,0.105957,0.515102,0.524668
1191,0.140351,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.013808,0.264336,0.820310,0.967988,0.075944,0.538116,0.156499
1192,0.000000,0.000000,0.0,0.0,0.158392,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000007,0.286041,0.990863,0.397976,0.046839,0.660638,0.837666
1193,0.000000,0.088333,0.0,0.0,0.496296,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.366004,0.955331,0.185254,0.131878,0.352310,0.437666

In [947]:
dfEuclidean.describe()

,0,1,2,3,4,5,6,7,8,9,...,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043
count,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.0,1194.000000,1194.000000,1194.000000,1194.000000,...,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000
mean,0.031314,0.006103,0.000838,0.000838,0.006335,0.0,0.001995,0.000838,0.006840,0.005790,...,0.000838,0.007973,0.001745,0.325584,0.545548,0.605512,0.188853,0.083752,0.454077,0.464846
std,0.087749,0.051428,0.028940,0.028940,0.050064,0.0,0.040440,0.028940,0.059729,0.052492,...,0.028940,0.072219,0.032016,0.326901,0.173256,0.231695,0.207648,0.119743,0.185699,0.246232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.026359,0.429118,0.430474,0.072517,0.022965,0.306439,0.268170
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.197579,0.549920,0.618286,0.099546,0.042860,0.437881,0.450398
75%,0.024285,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.603578,0.663868,0.803052,0.226043,0.089643,0.572765,0.650663
max,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Get Rankings Euclidean

In [948]:
# tempoDF = dfEuclidean.tempo.copy()
# tempoDF = pd.DataFrame(tempoDF)
# scaler = MinMaxScaler()
# scaler.fit(tempoDF)
# dfEuclidean.tempo = pd.DataFrame(scaler.transform(tempoDF)).iloc[:,0].copy()

In [949]:
dfEuclidean.describe()

,0,1,2,3,4,5,6,7,8,9,...,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043
count,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.0,1194.000000,1194.000000,1194.000000,1194.000000,...,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000
mean,0.031314,0.006103,0.000838,0.000838,0.006335,0.0,0.001995,0.000838,0.006840,0.005790,...,0.000838,0.007973,0.001745,0.325584,0.545548,0.605512,0.188853,0.083752,0.454077,0.464846
std,0.087749,0.051428,0.028940,0.028940,0.050064,0.0,0.040440,0.028940,0.059729,0.052492,...,0.028940,0.072219,0.032016,0.326901,0.173256,0.231695,0.207648,0.119743,0.185699,0.246232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.026359,0.429118,0.430474,0.072517,0.022965,0.306439,0.268170
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.197579,0.549920,0.618286,0.099546,0.042860,0.437881,0.450398
75%,0.024285,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.603578,0.663868,0.803052,0.226043,0.089643,0.572765,0.650663
max,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [950]:
#dfEuclidean.drop('tempo', axis=1, inplace=True)

### Original Song & Cover Song

In [955]:
originalSongIndex,originalSongVector = getIndexAndVector(originalSongId, ids, dfEuclidean)
coverSongIndex,coverSongVector = getIndexAndVector(coverSongId, ids, dfEuclidean)

IndexError: index 0 is out of bounds for axis 0 with size 0

### Get Rankings Euclidean

In [918]:
ranksDFEuclidean  = applyEuclideanDistance(dfEuclidean, ids, originalSongVector)
ranksDFEuclidean

           id  rank
0          23   0.0
1     6000599   0.0
2     6000598   0.0
3     6000597   0.0
4     6000596   0.0
...       ...   ...
1189  6000083   0.0
1190  6000082   0.0
1191  6000081   0.0
1192  6000079   0.0
1193  6000996   0.0

[1194 rows x 2 columns]

In [919]:
ranksDFEuclidean[ranksDFEuclidean.id == originalSongId]

Empty DataFrame
Columns: [id, rank]
Index: []

In [811]:
ranksDFEuclidean[ranksDFEuclidean['id']==coverSongId]

         id      rank
28  1686718  1.098957

In [812]:
ranksDFEuclidean.loc[ranksDFEuclidean.id.isin(covers[0])]

          id      rank
0     180849  0.000000
7    6001027  0.930032
16   5000018  1.042863
17   5000011  1.052230
19   5000019  1.059461
21   5000017  1.068021
22   5000007  1.069035
28   1686718  1.098957
49   5000013  1.170747
85   5000001  1.270569
111  5000012  1.315958
497  5000020  1.614428
535  5000008  1.648876

### Get Rankings Jaccard

In [813]:
originalSongIndex,originalSongVector = getIndexAndVector(originalSongId, ids, dfJaccard)
coverSongIndex,coverSongVector = getIndexAndVector(coverSongId, ids, dfJaccard)

In [814]:
ranksDFJaccard  = applyJaccard(dfJaccard, ids, originalSongVector)

In [815]:
ranksDFJaccard

           id      rank
0     1029726  0.000000
1      180849  0.000000
2     6001027  0.000000
3      466649  0.000000
4     1088889  0.333333
...       ...       ...
1191    39044  1.000000
1192   698704  1.000000
1193    84885  1.000000
1194   821402  1.000000
1195   136060  1.000000

[1196 rows x 2 columns]

In [816]:
ranksDFJaccard[ranksDFJaccard['id']==originalSongId]

       id  rank
1  180849   0.0

In [817]:
ranksDFJaccard[ranksDFJaccard['id']==coverSongId]

          id      rank
181  1686718  0.571429

In [818]:
ranksDFJaccard[ranksDFJaccard['id'] > 5000000]

           id      rank
2     6001027  0.000000
33    6001704  0.333333
34    6001545  0.333333
35    6001238  0.333333
36    6001228  0.333333
...       ...       ...
1183  6001149  0.888889
1184  6001168  0.888889
1186  6001123  0.888889
1187  6000801  1.000000
1189  6001347  1.000000

[335 rows x 2 columns]

### Experiment to unify rangs

In [819]:
ranks = pd.merge(ranksDFJaccard,ranksDFEuclidean, on='id')

In [820]:
ranks['new_rank'] = ranks['rank_x'] + ranks['rank_y']

In [821]:
ranks = ranks.sort_values(by='new_rank')
ranks.reset_index(drop=True, inplace=True)

In [822]:
ranks[ranks['id']==coverSongId]

         id    rank_x    rank_y  new_rank
32  1686718  0.571429  1.098957  1.670385

In [823]:
ranks[ranks.id.isin(covers[0])]

          id    rank_x    rank_y  new_rank
0     180849  0.000000  0.000000  0.000000
1    6001027  0.000000  0.930032  0.930032
8    5000019  0.333333  1.059461  1.392794
9    5000017  0.333333  1.068021  1.401355
25   5000001  0.333333  1.270569  1.603902
26   5000018  0.571429  1.042863  1.614292
32   1686718  0.571429  1.098957  1.670385
46   5000013  0.571429  1.170747  1.742176
58   5000011  0.750000  1.052230  1.802230
61   5000007  0.750000  1.069035  1.819035
120  5000020  0.333333  1.614428  1.947761
197  5000012  0.750000  1.315958  2.065958
373  5000008  0.571429  1.648876  2.220304

In [824]:
ranks.head(10)

        id    rank_x    rank_y  new_rank
0   180849  0.000000  0.000000  0.000000
1  6001027  0.000000  0.930032  0.930032
2  2065851  0.333333  0.809127  1.142461
3  1186397  0.333333  0.842538  1.175871
4  1029726  0.000000  1.269145  1.269145
5  3504560  0.333333  0.949623  1.282956
6  1713294  0.333333  1.023511  1.356844
7  1025154  0.571429  0.795180  1.366609
8  5000019  0.333333  1.059461  1.392794
9  5000017  0.333333  1.068021  1.401355