# 06-02-03

- Transition Matrices
- Gower
- Remove Constant Features
- Scaler Min Max

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt 
import math
from ipynb.fs.full.Utils import createKDeplot, loadDataFrames, loadCoverGroups

import numpy as np
from sklearn.preprocessing import StandardScaler
from ipynb.fs.full.Pipeline import removeConstantFeatures, applyBoxCoxAllFeatures, centerAndScale, applyEuclideanDistance, getIndexAndVector, applyBoxCoxFeatures, scalerMinMax,applyGower

from ipynb.fs.full.SearchInfo import searchByID, searchBySpotify, getTrackSpotifyInfo
from ipynb.fs.full.Utils import append_df_to_csv,transformToPercentage

In [2]:
cover = loadCoverGroups()
listCovers = cover[0]
originalSongId = listCovers[0]
coverSongId = listCovers[1]

In [3]:
spotifyFeatures, transitionMatrices, df = loadDataFrames()

In [4]:
transitionMatrices.sum(axis = 1).sum(axis=0)

5979.999999999996

In [5]:
transitionMatrices.describe()

,0,1,2,3,4,5,6,7,8,9,...,1284,1286,1287,1288,1290,1291,1292,1293,1294,1295
count,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,...,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5.980000e+03,5980.000000,5980.000000,5980.000000,5980.000000
mean,0.024322,0.000767,0.000118,0.000168,0.000075,0.002616,0.007883,0.002295,0.000074,0.000230,...,0.000008,0.000041,0.000274,0.000124,0.000047,5.929932e-07,0.000400,0.000031,0.000023,0.000038
std,0.060962,0.008348,0.002821,0.003465,0.001520,0.016245,0.029557,0.014214,0.001928,0.003065,...,0.000311,0.000966,0.003717,0.002320,0.001718,4.585644e-05,0.004026,0.000903,0.001763,0.000861
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
75%,0.017857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
max,0.842105,0.350000,0.148936,0.210526,0.062500,0.428571,0.355263,0.380952,0.100000,0.123457,...,0.016667,0.048780,0.156550,0.100000,0.120690,3.546099e-03,0.150000,0.043478,0.136364,0.038462

## Applying Gower

In [6]:
ids = transitionMatrices.index.tolist()
transitionMatrices['id'] = ids

transitionMatrices.reset_index(drop=True, inplace=True)
transitionMatrices = transitionMatrices.sort_values('id')
transitionMatrices.id = transitionMatrices.id.astype('int64')
# Saving idChords
ids = transitionMatrices.id

transitionMatrices = transitionMatrices.set_index('id')
transitionMatrices.reset_index(drop=True, inplace=True)

In [7]:
transitionMatrices

,0,1,2,3,4,5,6,7,8,9,...,1284,1286,1287,1288,1290,1291,1292,1293,1294,1295
0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
1,0.185185,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
2,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.044944,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
3,0.029412,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
4,0.013889,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.013889,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5975,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
5976,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
5977,0.000000,0.015385,0.0,0.015385,0.0,0.015385,0.030769,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
5978,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.071429,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.02381,0.0,0.0,0.0,0.02381,0.0,0.0
5979,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0

In [8]:
transitionMatrices = removeConstantFeatures(transitionMatrices)

In [9]:
transitionMatrices = scalerMinMax(transitionMatrices)

In [10]:
transitionMatrices.describe()

,0,1,2,3,4,5,6,7,8,9,...,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036
count,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,...,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000,5980.000000
mean,0.028882,0.002190,0.000790,0.000797,0.001207,0.006105,0.022190,0.006024,0.000738,0.001866,...,0.000480,0.000834,0.001752,0.001237,0.000387,0.000167,0.002667,0.000716,0.000167,0.000992
std,0.072392,0.023851,0.018939,0.016458,0.024314,0.037906,0.083196,0.037311,0.019278,0.024825,...,0.018682,0.019811,0.023745,0.023198,0.014235,0.012932,0.026839,0.020779,0.012932,0.022374
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.021205,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
ranksDFGower = applyGower(transitionMatrices,ids, originalSongId,len(transitionMatrices))
ranksDFGower

           id    values
0      180849  0.000000
1     2846348  0.001320
2     1148352  0.001380
3     1168573  0.001406
4     1909308  0.001425
...       ...       ...
5975  6002260  0.016922
5976  6000792  0.017778
5977  6001136  0.017848
5978  6000959  0.018366
5979  6001117  0.020905

[5980 rows x 2 columns]

In [12]:
ranksDFGower.head(10)

        id    values
0   180849  0.000000
1  2846348  0.001320
2  1148352  0.001380
3  1168573  0.001406
4  1909308  0.001425
5  2065851  0.001458
6  1186397  0.001461
7  1025154  0.001494
8  1906942  0.001549
9  1065079  0.001550

In [13]:
ranksDFGower.loc[ranksDFGower.id.isin(listCovers)]

           id    values
0      180849  0.000000
33    6001027  0.001816
39    5000007  0.001848
44    5000018  0.001882
45    5000019  0.001888
50    5000011  0.001921
52    5000017  0.001933
100   5000013  0.002138
105   1686718  0.002146
244   5000001  0.002406
256   5000012  0.002423
1342  5000020  0.003133
1436  5000008  0.003188
5692  5000023  0.007872

In [16]:
ranksDFGower.rename(columns = {'values':'rank'}, inplace = True)

In [17]:
# To extract covers info change path in util if needed
# ranks = transformToPercentage(ranksDFGower.loc[ranksDFGower.id.isin(listCovers)], '0300')
# ranks

,id_chord,id_spotify_track,name,release_date,percentage,rank,position,id_experiment
0,180849,3jButwtJMLx3Ub61BfRiHh,the scientist,2022-06-03,100.000,0.000000,0,0300
1,6001027,75JFxkI2RXiU7L9VXzMkle,NaN,NaN,99.998,0.001816,33,0300
2,5000007,6TyaYGQKCnRLVTOQlXvYAA,NaN,NaN,99.998,0.001848,39,0300
3,5000018,49Nzxf1LskunwmZ6EyWUew,NaN,NaN,99.998,0.001882,44,0300
4,5000019,49ilSrZNQcle6PYw8rtvzM,NaN,NaN,99.998,0.001888,45,0300
5,5000011,5FoM2ZWwhgTxHFFh2stUw6,NaN,NaN,99.998,0.001921,50,0300
6,5000017,34dnNAUoIPcwnK0RtVMBWZ,NaN,NaN,99.998,0.001933,52,0300
7,5000013,2LbHYfTYW6TipHInIjqdaQ,NaN,NaN,99.998,0.002138,100,0300
8,1686718,2LbHYfTYW6TipHInIjqdaQ,the scientist,2015-04-28,99.998,0.002146,105,0300
9,5000001,025vpSSyndhVZezl8rUF6L,NaN,NaN,99.998,0.002406,244,0300
10,5000012,7tn1tcxenMwDXrYTOjS3z1,NaN,NaN,99.998,0.002423,256,0300
11,5000020,66Z3LdLjtwfIdHFF0wZa5B,NaN,NaN,99.997,0.003133,1342,0300
12,5000008,68iMdxXn1timrxURm9dR8C,NaN,NaN,99.997,0.003188,1436,0300
13,5000023,6f46TyGZm5oeKIP54PLvql,NaN,NaN,99.992,0.007872,5692,0300