# 06-02

- Transition Matrix only
- Euclidean Distance

In [17]:
import pandas as pd
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt 
import math
from ipynb.fs.full.Utils import createKDeplot, loadDataFrames, loadCoverGroups
import numpy as np
from sklearn.preprocessing import StandardScaler

In [18]:
cover = loadCoverGroups()
listCovers = cover[12]
originalSongId = listCovers[0]
coverSongId = listCovers[1]

In [19]:
spotifyFeatures, transitionMatrices, df = loadDataFrames()

In [20]:
transitionMatrices

,0,1,2,3,4,5,6,7,8,9,...,1284,1286,1287,1288,1290,1291,1292,1293,1294,1295
id,,,,,,,,,,,,,,,,,,,,,
23,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
105,0.185185,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
118,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.044944,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
120,0.029412,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
292,0.013889,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.013889,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6002496,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002497,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002498,0.000000,0.015385,0.0,0.015385,0.0,0.015385,0.030769,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0
6002499,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.071429,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.02381,0.0,0.0,0.0,0.02381,0.0,0.0
6002500,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0

In [21]:
transitionMatrices.sum(axis = 1).sum(axis=0)

5979.999999999996

## Applying eucledian distance

In [22]:
def euclidean_distance(x, y):   
    return np.sqrt(np.sum((x - y) ** 2))

In [23]:
originalSongVector = transitionMatrices.loc[[originalSongId]].iloc[0]

***Dropping the cover song***

In [24]:
ranking = []
for index in range(0, len(transitionMatrices)):
    ranking.append([transitionMatrices.index[index], euclidean_distance(transitionMatrices.iloc[index, :], originalSongVector)])

In [25]:
ranksDF = pd.DataFrame(ranking)

In [26]:
ranksDF = ranksDF.rename(columns={0: "id", 1: "rank"})

In [27]:
ranksDF

           id      rank
0          23  0.506290
1         105  0.503504
2         118  0.489154
3         120  0.572353
4         292  0.496186
...       ...       ...
5975  6002496  0.425256
5976  6002497  0.482928
5977  6002498  0.427868
5978  6002499  0.434999
5979  6002500  0.433658

[5980 rows x 2 columns]

In [28]:
ranksDF = ranksDF.sort_values(by="rank")

In [29]:
ranksDF.reset_index(drop=True, inplace=True)

In [30]:
ranksDF.head(10)

        id      rank
0  6001918  0.000000
1  6000373  0.177110
2  6001574  0.183479
3  6001599  0.200781
4  6002002  0.201653
5  6001270  0.207581
6  6000844  0.211779
7  6000816  0.212910
8  6002197  0.212910
9  6001941  0.218530

In [31]:
ranksDF[ranksDF['id']==coverSongId]

          id     rank
104  6001997  0.33785

## Rank for original Song 156

In [32]:
ranksDF.loc[ranksDF.id.isin(listCovers)]

          id     rank
0    6001918  0.00000
104  6001997  0.33785