In [3]:
import pandas as pd
df = pd.read_csv('./data/experiments-analysis/ranks_covers_0100.csv')
df = df.iloc[:, 1:]

In [4]:
df

,id_chord,id_spotify_track,year,artist,name,release_date,percentage,rank,position,id_experiment
0,6001027,75JFxkI2RXiU7L9VXzMkle,2002,Coldplay,The Scientist (Glee Cast Version),NaN,100.000,0.000000,0,100
1,180849,3jButwtJMLx3Ub61BfRiHh,2022,Coldplay,The Scientist (Glee Cast Version),6/3/22,100.000,0.000000,1,100
2,5000008,68iMdxXn1timrxURm9dR8C,2012,Glee Cast,The Scientist (Glee Cast Version),NaN,98.742,1.257849,93,100
3,5000023,6f46TyGZm5oeKIP54PLvql,2014,Glee Cast,The Scientist (Glee Cast Version),NaN,98.363,1.636536,257,100
4,5000011,5FoM2ZWwhgTxHFFh2stUw6,2022,Savanna Leigh,The Scientist,NaN,98.336,1.663620,269,100
5,1686718,2LbHYfTYW6TipHInIjqdaQ,2015,Boyce Avenue - Hannah Trigwell,The Scientist,4/28/15,98.269,1.730954,313,100
6,5000013,2LbHYfTYW6TipHInIjqdaQ,2015,Boyce Avenue - Hannah Trigwell,The Scientist,NaN,98.269,1.730954,314,100
7,5000017,34dnNAUoIPcwnK0RtVMBWZ,2013,Tyler Ward - Lindsey Stirling - Kina Grannis,The Scientist,NaN,97.975,2.025490,574,100
8,5000001,025vpSSyndhVZezl8rUF6L,2018,Brooklyn Duo,The Scientist,NaN,97.761,2.239079,780,100
9,5000007,6TyaYGQKCnRLVTOQlXvYAA,2019,Grabriella,The Scientist,NaN,97.584,2.416143,1015,100
10,5000018,49Nzxf1LskunwmZ6EyWUew,2018,Alex Goot - Jada Facer,The Scientist,NaN,97.390,2.610033,1285,100
11,5000012,7tn1tcxenMwDXrYTOjS3z1,2017,Corinne Bailey Rae,The Scientist,NaN,97.133,2.866503,1692,100
12,5000020,66Z3LdLjtwfIdHFF0wZa5B,2016,Soundtrack Wonder Band,The Scientist (From Wicker Park),NaN,97.074,2.925661,1799,100
13,5000019,49ilSrZNQcle6PYw8rtvzM,2021,The Petersens,The Scientist - Live,NaN,96.866,3.134464,2140,100

In [114]:
tb = pd.read_csv('./data/experiments-analysis/ranks_covers_0200.csv')
tb = tb.iloc[:, 1:]

In [115]:
tb['year'] = 0
tb['artist'] = ''

In [116]:
tb

,id_chord,id_spotify_track,name,release_date,percentage,rank,position,id_experiment,year,artist
0,180849,3jButwtJMLx3Ub61BfRiHh,the scientist,2022-06-03,100.000,0.000000,0,200,0,
1,5000007,6TyaYGQKCnRLVTOQlXvYAA,NaN,NaN,99.762,0.238091,28,200,0,
2,5000019,49ilSrZNQcle6PYw8rtvzM,NaN,NaN,99.737,0.263030,51,200,0,
3,5000018,49Nzxf1LskunwmZ6EyWUew,NaN,NaN,99.733,0.267234,56,200,0,
4,5000020,66Z3LdLjtwfIdHFF0wZa5B,NaN,NaN,99.699,0.301116,138,200,0,
5,6001027,75JFxkI2RXiU7L9VXzMkle,NaN,NaN,99.692,0.308294,161,200,0,
6,5000008,68iMdxXn1timrxURm9dR8C,NaN,NaN,99.689,0.310970,173,200,0,
7,1686718,2LbHYfTYW6TipHInIjqdaQ,the scientist,2015-04-28,99.686,0.314095,189,200,0,
8,5000011,5FoM2ZWwhgTxHFFh2stUw6,NaN,NaN,99.675,0.325204,260,200,0,
9,5000012,7tn1tcxenMwDXrYTOjS3z1,NaN,NaN,99.673,0.326780,271,200,0,
10,5000017,34dnNAUoIPcwnK0RtVMBWZ,NaN,NaN,99.673,0.327370,281,200,0,
11,5000013,2LbHYfTYW6TipHInIjqdaQ,NaN,NaN,99.669,0.330925,304,200,0,
12,5000001,025vpSSyndhVZezl8rUF6L,NaN,NaN,99.654,0.345503,437,200,0,
13,5000023,6f46TyGZm5oeKIP54PLvql,NaN,NaN,99.559,0.440763,2888,200,0,

In [117]:
df = df.append(tb)

In [118]:
df

,id_chord,id_spotify_track,year,artist,name,release_date,percentage,rank,position,id_experiment
0,6001027,75JFxkI2RXiU7L9VXzMkle,2002,Coldplay,The Scientist (Glee Cast Version),NaN,100.000,0.000000,0,100
1,180849,3jButwtJMLx3Ub61BfRiHh,2022,Coldplay,The Scientist (Glee Cast Version),6/3/22,100.000,0.000000,1,100
2,5000008,68iMdxXn1timrxURm9dR8C,2012,Glee Cast,The Scientist (Glee Cast Version),NaN,98.742,1.257849,93,100
3,5000023,6f46TyGZm5oeKIP54PLvql,2014,Glee Cast,The Scientist (Glee Cast Version),NaN,98.363,1.636536,257,100
4,5000011,5FoM2ZWwhgTxHFFh2stUw6,2022,Savanna Leigh,The Scientist,NaN,98.336,1.663620,269,100
...,...,...,...,...,...,...,...,...,...,...
9,5000012,7tn1tcxenMwDXrYTOjS3z1,0,,NaN,NaN,99.673,0.326780,271,200
10,5000017,34dnNAUoIPcwnK0RtVMBWZ,0,,NaN,NaN,99.673,0.327370,281,200
11,5000013,2LbHYfTYW6TipHInIjqdaQ,0,,NaN,NaN,99.669,0.330925,304,200
12,5000001,025vpSSyndhVZezl8rUF6L,0,,NaN,NaN,99.654,0.345503,437,200
13,5000023,6f46TyGZm5oeKIP54PLvql,0,,NaN,NaN,99.559,0.440763,2888,200

In [121]:
import os
os.makedirs('./data', exist_ok=True)  
df.to_csv('./data/experiments-analysis/coldplayResults.csv')